
<div class="add-questions-wrapper">
<div class="add-questions">
Add questions for survey titled {{model.title}}<br>

type: {{input type="text" value=type}}<br>
name: {{input type="text" value=name}}<br>
placeholder: {{input type="text" value=placeholder}}<br>
value: {{input type="text" value=value}}<br>
cols: {{input type="text" value=cols}}<br>
rows: {{input type="text" value=rows}}<br>
optionsArray: {{input type="text" value=optionsArray}}(separate with '|')<br>
questionText: {{input type="text" value=questionText}}<br>
Required: {{input type="checkbox" name="isRequired" checked=isRequired}}<br>
<button {{action 'addQuestion'}}> Add Question </button>


<br>--------<br>
<p>
Or add a radio-grid question below: <br>

Question Text: {{input type="text" value=radioGridQuestionText}}<br>
Options: {{input type="text" value=radioGridOptions}}<br>
(separate statements with '|')<br>
statements: {{input type="text" value=radioGridStatements}}<br>
(separate statements with '|')
<br>
Required: {{input type="checkbox" name="isRequired" checked=isRequired}}<br>
<button {{action 'addRadioGridQuestion'}}> Add Radio Grid Question </button>


</p>
</div>

<div class="operate-questions">
<p>
{{#sortable-group tagName="ul" onChange="reorderItems" as |group|}}
  {{#each model.sortedQuestions as |question|}}
  {{#sortable-item tagName="li" model=question group=group handle=".handle"}}
    <div class="handle">{{question.position}}{{component question.type question=question}} </div>
  {{/sortable-item}}
  {{/each}}
{{/sortable-group}}
</p>

</div>
</div>
