{{outlet}}
Add questions for survey titled {{model.title}}<br>

type: {{input type="text" value=type}}<br>
name: {{input type="text" value=name}}<br>
placeholder: {{input type="text" value=placeholder}}<br>
value: {{input type="text" value=value}}<br>
cols: {{input type="text" value=cols}}<br>
rows: {{input type="text" value=rows}}<br>
optionsArray: {{input type="text" value=optionsArray}}<br>
questionText: {{input type="text" value=questionText}}<br>
<button {{action 'addQuestion'}}> Add Question </button>
