<b> view reports here </b><br>
<table>
  {{#each model as |responseSet|}}
<tr>
  {{#each responseSet.responses as |response|}}

      {{#if response.isRadioGrid}}

        {{#each response.answerValue as |radioGridResponse|}}
        <td>
          {{radioGridResponse.long}}: {{radioGridResponse.selected}}
        </td>
        {{/each}}

      {{else}}
      <td>
      {{response.answerValue}}
      </td>
      {{/if}}




  {{/each}}
</tr>
  {{/each}}
</table>

{{responseSetStatus}}
